@charset "utf-8";
/* CSS Document */

/*=============================================================
 * New Styles
 * by Gino Rivera Falu
 *============================================================*/
.addService{
	background-image: url(../../ui_icons/service_ico.png) !important;
}

.delete{
	background-image: url(../../ui_icons/delete.png) !important;
}

.save{
	background-image: url(../../ui_icons/save.png) !important;
}

.edit{
	background-image: url(../../ui_icons/edit.png) !important;
}

.searchUsers{
	background-image: url(../../ui_icons/search-user.png) !important;
}

.searchData{
	background-image: url(../../ui_icons/search-data.png) !important;
}